
.Row{
    margin-bottom: 10px;
}
.Track{
    display: inline-block;
    margin-right: 15px;
}
.TrackWrap{
    background: #cccccc;
    padding: 5px 10px;
    border-radius: 5px;
}

.TrackDuration{
    color: black;
}
.Play{
    padding-left: 25px;
    position: relative;
    width: 20px;
    height: 20px;
}
.Play::before{
    content: "";
    background: url('../../assets/images/play-button.png') no-repeat 0;
    background-size: contain;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 3px;
    left: 0;
}
.Publish{
    float: right;
}